svg, p, input, button {
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.badTip1, .badTip2, .goodTip{
    border-radius: 20px;
}
.badTip1{
    background-color: rgb(248, 201, 201);
    color: red;
}
.badTip2{
    background-color: rgb(239, 248, 201);
    color: rgb(55, 0, 255);
}
.goodTip{
    background-color: rgb(190, 245, 190);
    color: green;
}
button, h2{
    margin-top: 10px;
}
button{
    margin: 10px;
}
